<!DOCTYPE html>
<html ng-app="ngApp">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Running Events</title>
	<meta name="description" content="Running Events. AngularJS App Example" />
	<meta name="author" content="Jorge Moreno (www.moro.es) @alterebro" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" />
	<link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body ng-controller="mainController" class="{{detail}}">

<div id="list-block">
	<header>
		<h1><a href="#/">Race List</a></h1>
		<div id="filter">
			<input type="text" id="filter-query" ng-model="query" placeholder="Filter Results">
			<button ng-click="clearQuery()" class="button-main">Clear</button>
		</div>
	</header>

	<main>
		<table id="racelist">
			<thead>
				<tr class="tr{{currentFiltering}}">
					<th class="guid">#</th>
					<th class="th-timestamp" ng-click="setFiltering('timestamp')">Date</th>
					<th class="th-title" ng-click="setFiltering('title')">Race</th>
					<th class="th-location" ng-click="setFiltering('location')">Location</th>
					<th class="th-distance" ng-click="setFiltering('distance')">Distance</th>
					<th class="th-time_gun" ng-click="setFiltering('time_gun')">Gun Time</th>
					<th class="th-time_chip" ng-click="setFiltering('time_chip')">Chip Time</th>
					<th class="th-pace" ng-click="setFiltering('pace')">Pace</th>
					<th class="th-position" ng-click="setFiltering('position')">Position</th>
					<th class="th-participants" ng-click="setFiltering('participants')">Participants</th>
					<th class="th-percent" ng-click="setFiltering('percent')">%</th>
					<th class="th-bib" ng-click="setFiltering('bib')">#bib</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(i, item) in data | filter: query | orderBy: filtering as results">
					<td class="guid" ng-bind-template="{{results.length - i}}"></td>
					<td class="timestamp" ng-bind-template="{{item.timestamp | dateFilter | date:'dd.MM.yyyy'}}"></td>
					<td class="title">
						<a href="#/race/{{item.slug}}" ng-bind-template="{{item.title}}" ng-click="showDetail(item.slug)"></a>
					</td>
					<td class="location" ng-bind-template="{{item.location}}"></td>
					<td class="distance" ng-bind-template="{{item.distance | falseFilter}}"></td>
					<td class="guntime" ng-bind-template="{{item.time_gun | falseFilter}}"></td>
					<td class="chiptime" ng-bind-template="{{item.time_chip | falseFilter}}"></td>
					<td class="pace" ng-bind-template="{{item.pace | falseFilter}}"></td>
					<td class="position" ng-bind-template="{{item.position | falseFilter}}"></td>
					<td class="participants" ng-bind-template="{{item.participants | falseFilter}}"></td>
					<td class="percent" ng-bind-template="{{item.percent | falseFilter}}"></td>
					<td class="bib" ng-bind-template="{{item.bib | falseFilter}}"></td>
				</tr>

				<tr ng-if="results.length == 0">
					<td colspan="12">No results found...</td>
				</tr>
			</tbody>
		</table>
	</main>
</div>

<div id="detail-block">
	<div ng-repeat="the_item in data | filter: the_slug" id="detail-block-modal">
	
		<h1>{{the_item.title}}</h1>
		<h2>
			{{the_item.timestamp | dateFilter | date:'MMMM d, yyyy'}} @ {{the_item.location}}
			<br>{{the_item.distance | falseFilter}} meters
		</h2>

		<ul>
			<li>
				<small>Gun Time:</small>
				<br><strong>{{the_item.time_gun | falseFilter}}</strong>
			</li>
			<li>
				<small>Chip Time:</small>
				<br><strong>{{the_item.time_chip | falseFilter}}</strong>
			</li>
			<li>
				<small>Pace:</small>
				<br><strong>{{the_item.pace | falseFilter}}</strong>
			</li>
		</ul>

		<p>
			<strong>#BIB: </strong> {{the_item.bib | falseFilter}}
			<br><strong>Position: </strong> {{the_item.position | falseFilter}} / {{the_item.participants | falseFilter}} ({{the_item.percent | falseFilter}})
		</p>
		


		<a href="#/" ng-click="closeDetail()">&times;</a>
	</div>
</div>


<div ng-view></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
<script type="text/javascript" src="app.js"></script>

</body>
</html>